#jx3-memory {
    border-width: thin;
    border-style: solid;
    border-color: #007e7e;
    width: 500px;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 80px;
    margin-left: 80px;
    margin-right: 10px;
    text-align: center;
    background-image: url(page2img/bgi.png);
    background-repeat: repeat-y;
    line-height: 1;
    float: right;
}

#jx3-memory h2 {
    color: blue;
}

#jx3-memory h3 {
    color: #d12c47;
}

.cd {
    font-style: italic;
}

.artist {
    font-weight: bold;
}

img {
    width: 200px;
    height: 113px;
}

a:link {
    color: green;
}

a:visited {
    color: red;
}

a:hover {
    color: yellow;
}

#p9 {
    width: 1200px;
    height: 700px;
}

#bq1 {
    float: left;
}

#main {
    background: #efe5d0;
    font-size: 105%;
    padding: 15px;
    margin: 10px;
    margin: 0px 740px 10px 10px;
}

#title2 {
    border-bottom: 3px;
    border-bottom-style: double;
    border-bottom-color: goldenrod;
}

#title {
    border: 3px double blue;
}

#main {
    border: 3px double gray;
}

#footer2 {
    border: 3px double blueviolet;
    clear: right;
}

#floatright2 {
    border: 3px solid black;
    position: absolute;
    top: 900px;
    left: 200px;
    right: 200px;
    height: 400px;
    /*the son p add absolute then 0px height*/
    /*set the width of floatright2 to the whole page*/
}

#floatright2 p2 {
    margin-left: auto;
    /*here i have some question, margin and its div, the p's top and div:deal,user agent sheetstyle*/
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 3px dotted blue;
    width: 150px;
}

#floatright2 p {
    position: absolute;
    /*relative needs father's absolute?*/
    top: 30px;
    left: 30px;
    border: 3px dotted blue;
    width: 150px;
}

#allcontent {
    width: 1300px;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    border: 3px dotted black;
    margin-left: auto;
    margin-right: auto;
}

#titleimg {
    text-align: center;
}

table {
    margin-left: 20px;
    margin-right: 20px;
    border: thin solid black;
    caption-side: bottom;
    /*border-collapse: collapse;*/
    /*border-spacing: 10px 30px;*/
}

td,
th {
    border: thin dotted gray;
    padding: 5px;
}

th {
    background-color: #cc6600;
}

.cellcolor {
    background-color: #fcba7a;
}

caption {
    font-style: italic;
    padding-top: 8px;
}