#root0{
    width: 100%;
}
#controlPad{
    position: relative;
}
#root1{
    position: relative;
}
.play{
    width: 10px;
    height: 10px;
    background-color: #000000;
    position: absolute;
}

.picTest{
    width: 200px;
    height: 100px;
    background: red;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
}